<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzs.mapper.CommentMapper" >

    <sql id="BASE_TABLE">
        comment
    </sql>

    <sql id="BASE_COLUMN">
        id,noticeId,authorId,fromId,`fromName`,toId,`toName`,`content`,`time`
    </sql>

    <select id="selectComment" resultType="com.wzs.bean.Comment" parameterType="java.util.Map">
        SELECT
        <include refid="BASE_COLUMN"/>
        from <include refid="BASE_TABLE"/>
        <where>
            <if test="id !=null and id !=''">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="noticeId !=null and noticeId !=''">
                and `noticeId`=#{noticeId,jdbcType=INTEGER}
            </if>
            <if test="authorId !=null and authorId !=''">
                and authorId=#{authorId,jdbcType=INTEGER}
            </if>

            <if test="fromId !=null and  fromId!=''">
                and fromId=#{fromId,jdbcType=INTEGER}
            </if>
            <if test="fromName !=null and fromName !=''">
                and `fromName`=#{fromName,jdbcType=VARCHAR}
            </if>
            <if test="toId !=null and  toId!=''">
                and fromId=#{fromId,jdbcType=INTEGER}
            </if>
            <if test="toName !=null and toName !=''">
                and `fromName`=#{fromName,jdbcType=VARCHAR}
            </if>

            <if test="content !=null and content !=''">
                and `content`=#{content,jdbcType=VARCHAR}
            </if>
            <if test="time !=null and time !=''">
                and `time`=#{time}
            </if>

        </where>

    </select>

    <insert id="insertComment" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.wzs.bean.MicroNotice">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            noticeId,authorId,fromId,`fromName`,toId,`toName`,`content`,`time`
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{noticeId, jdbcType=INTEGER},
            #{authorId, jdbcType=INTEGER},
            #{fromId, jdbcType=INTEGER},
            #{fromName, jdbcType=VARCHAR},
            #{toId, jdbcType=INTEGER},
            #{toName, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{time, jdbcType=VARCHAR},
        </trim>
    </insert>

    <select id="selectCommentByNoticeId" resultType="com.wzs.bean.Comment" parameterType="java.lang.Integer" >
        select * from <include refid="BASE_TABLE"/>
        where noticeId = #{noticeId,jdbcType=INTEGER}
        order by `time`
    </select>

</mapper>