<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzs.mapper.MNoticeMapper" >

    <sql id="BASE_TABLE">
        micro_notice
    </sql>

    <sql id="BASE_COLUMN">
        id,`type`,authorID,`authorName`,`topic`,`reference`,`keywords`,`title`,`summary`,`time`,judge
    </sql>

    <select id="selectMNotice" resultType="com.wzs.bean.MicroNotice" parameterType="java.util.Map">
        SELECT
        <include refid="BASE_COLUMN"/>
        from <include refid="BASE_TABLE"/>
        <where>
            <if test="id !=null and id !=''">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="type !=null and type !=''">
                and `type`=#{type,jdbcType=INTEGER}
            </if>
            <if test="authorID !=null and authorID !=''">
                and authorID=#{authorID,jdbcType=INTEGER}
            </if>
            <if test="authorName !=null and authorName !=''">
                and `authorName`=#{authorName,jdbcType=VARCHAR}
            </if>
            <if test="topic !=null and topic !=''">
                and `topic`=#{topic,jdbcType=VARCHAR}
            </if>
            <if test="reference !=null and reference !=''">
                and `reference`=#{reference,jdbcType=VARCHAR}
            </if>
            <if test="keywords !=null and keywords !=''">
                and `keywords`=#{keywords,jdbcType=VARCHAR}
            </if>
            <if test="title !=null and title !=''">
                and `title`=#{title,jdbcType=VARCHAR}
            </if>
            <if test="summary !=null and summary !=''">
                and `summary`=#{summary,jdbcType=VARCHAR}
            </if>
            <if test="time !=null and time !=''">
                and `time`=#{time,}
            </if>
            <if test="judge !=null and judge !=''">
                and `judge`=#{judge,jdbcType=INTEGER}
            </if>
        </where>

    </select>

    <insert id="insertMNotice" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.wzs.bean.MicroNotice">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `type`,authorID,`authorName`,`topic`,`reference`,`keywords`,`title`,`summary`,`time`,`judge`
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{type, jdbcType=INTEGER},
            #{authorID, jdbcType=INTEGER},
            #{authorName, jdbcType=VARCHAR},
            #{topic, jdbcType=VARCHAR},
            #{reference, jdbcType=VARCHAR},
            #{keywords,jdbcType=VARCHAR},
            #{title,jdbcType=VARCHAR},
            #{summary,jdbcType=VARCHAR},
            #{time, jdbcType=VARCHAR},
            #{judge, jdbcType=INTEGER},
        </trim>
    </insert>

    <update id="updateMNotice" parameterType="com.wzs.bean.MicroNotice" >
        update <include refid="BASE_TABLE"/>
        <set>
            <if test="authorName !=null">
                authorName=#{authorName,jdbcType=VARCHAR},
            </if>
            <if test="topic !=null">
                topic=#{topic,jdbcType=VARCHAR},
            </if>
            <if test="reference !=null">
                reference=#{reference,jdbcType=VARCHAR},
            </if>
            <if test="keywords !=null">
                keywords=#{keywords,jdbcType=VARCHAR},
            </if>
            <if test="title !=null">
                title=#{title,jdbcType=VARCHAR},
            </if>
            <if test="summary !=null">
                summary=#{summary,jdbcType=VARCHAR},
            </if>
            <if test="time !=null">
                `time`=#{time},
            </if>
            <if test="judge !=null">
                `judge`=#{judge,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteMNoticeById" parameterType="java.lang.Integer" >
        delete from <include refid="BASE_TABLE"/>
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="multiQueryMNotice" resultType="com.wzs.bean.MicroNotice">
        select * from micro_notice where
        <foreach item="topicList" collection="list" separator="or" open="(" close=")" index="">
            topic like #{topicList, jdbcType=VARCHAR}
        </foreach>
        and (judge= 0)
    </select>

    <select id="completeQueryMNotice" resultType="com.wzs.bean.MicroNotice">
        select * from micro_notice where
        <foreach item="topicList" collection="search.topicList" separator="or" open="(" close=")" index="">
            topic like #{topicList, jdbcType=VARCHAR}
        </foreach>
        and (authorName like #{search.word} or summary like #{search.word} or keywords like #{search.word}
        or title like #{search.word} ) and (judge= 0)
        and <foreach item="typeList" collection="search.typeList" separator="or" open="(" close=")" index="">
        type = #{typeList, jdbcType=INTEGER}
        </foreach>
    </select>

</mapper>